{% extends "bootstrap_5_layout.html" %}
{% set active_page = "bestbets_dashboard" %}

{% block content %}

    <h2>Arbitrage Dashboard ({{ sport_title }})</h2>
    
    <div id="chart-container" height="700px"></div>

    <!--
        BOOTSTRAP TABLES
        https://getbootstrap.com/docs/5.0/content/tables/
    -->
    <table class="table table-striped table-hover table-responsive caption-top">
        <caption>Betting Data</caption>
        <thead>
            <tr>
                <th scope="col">Game</th>
                <th scope="col">Away Arbitrage</th>
                <th scope="col">Home Arbitrage</th>
            </tr>
        </thead>
        <tbody>

        <!--
            JINJA FOR LOOP
            https://jinja.palletsprojects.com/en/3.1.x/templates/
        -->
        {% for g in games %}
            <tr>
                <td>{{ g["away_team"] }} ({{ g["away_spread"][0] }}) @ {{ g["home_team"] }} ({{ g["home_spread"][0] }})</td>
                <td><strong>{{ g["away_team"] }}: {{ g["best_away_book"] }} ({{ g["best_a_spread"][0] }}, {{ g["best_a_price"][0] }})</strong></td>
                <td><strong>{{ g["home_team"] }}: {{ g["best_home_book"] }} ({{ g["best_h_spread"][0] }}, {{ g["best_h_price"][0] }})</strong></td>

            </tr>
        {% endfor %}

        </tbody>
    </table>
    

{% endblock %}