{% extends "bootstrap_5_layout.html" %}
{% set active_page = "bestbets_form" %}

{% block content %}

    <h2>Arbitrage Form</h2>

    <p>Request some sports betting data...</p>

    <form action="/bestbets/dashboard" method="POST">

        <label>Sport:</label>
        <select name="sport_key">
            <option value="americanfootball_nfl">NFL</option>
            <option value="americanfootball_ncaaf">NCAAF</option>
            <option value="basketball_nba">NBA</option>
            <option value="basketball_ncaab">NCAAB</option>
            <option value="soccer_fifa_world_cup">WORLD CUP</option>
            <option value="icehockey_nhl">NHL</option>
            <option value="baseball_mlb">MLB</option>
            <option value="upcoming">UPCOMING</option>
        </select>
        <br>

        <button class="btn btn-success">Submit</button>
    </form>

{% endblock %}